{
    "presets": [

        "@babel/preset-env"

    ],
    "plugins": [
        ["module-resolver", {
            "root": ["./"], 
            "alias": {
                "@components": "./src/components",
                "@pages": "./src/pages",
                "@styles": "./src/styles",
                "@store": "./src/store",
                "@mixins": "./src/mixins",
                "@assets": "./src/assets"
            }}
        ],
        ["@babel/plugin-transform-runtime",
            {
              "regenerator": true
            }
          ]
    ]
}